.bg-1 {
  background: #fff;
  background-image: url(../images/Business_1.jpg);
}

.bg-2 {
  background: #fff;
  background-image: url(../images/Business_2.jpg);
}

.bg-3 {
  background: #fff0d6;
  background-image: url(../images/Business_3.jpg);
}