.bg-1 {
  background: #fff;
  background-image: url(../images/Marketing_1.jpg);
}

.bg-2 {
  background: #fff;
  background-image: url(../images/Marketing_2.jpg);
}

.bg-3 {
  background: #fff0d6;
  background-image: url(../images/Marketing_3.jpg);
}