.bg-1 {
  background: #fff;
  background-image: url(../images/Photography_1.jpg);
}

.bg-2 {
  background: #fff;
  background-image: url(../images/Photography_2.jpg);
}

.bg-3 {
  background: #fff0d6;
  background-image: url(../images/Photography_3.jpg);
}